<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="cl.droid.transantiago" android:versionCode="5" android:versionName="0.05">
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<!--  Used for Cloudmade routing device ID (uses IMEI) -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
       	
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:theme="@android:style/Theme.NoTitleBar">
		
		<activity android:name="org.opensatnav.android.SatNavActivity">
		</activity>
<!-- 		<provider android:name="org.opensatnav.android.contribute.content.OSNProvider" -->
<!-- 			android:authorities="cl.droid.transantiago"  -->
<!-- 			android:syncable="false" -->
<!-- 			/> -->
		<activity android:name="org.opensatnav.android.GetDirectionsActivity" />
		<activity android:name="org.opensatnav.android.ChooseLocationActivity" />
		<activity android:name="org.openintents.about.About" />
		<activity android:name="org.opensatnav.android.ConfigurationActivity" />
		<activity android:name="org.opensatnav.android.ContributeActivity"
			android:finishOnTaskLaunch="true" />


<!-- 		<service android:name="org.opensatnav.android.contribute.services.TrackRecordingService" /> -->
<!-- 		<service android:name="org.opensatnav.android.TripStatisticsService" /> -->

		<!-- values used in the About screen -->
		<meta-data android:name="org.openintents.metadata.COMMENTS"
			android:value="@string/app_desc" />
		<meta-data android:name="org.openintents.metadata.LEADERS"
			android:resource="@array/about_leaders" />
		<meta-data android:name="org.openintents.metadata.AUTHORS"
			android:resource="@array/about_authors" />
		<meta-data android:name="org.openintents.metadata.TRANSLATORS"
			android:resource="@array/about_translators" />
		<meta-data android:name="org.openintents.metadata.ARTISTS"
			android:resource="@array/about_artists" />
		<meta-data android:name="org.openintents.metadata.DOCUMENTERS"
			android:resource="@array/about_documenters" />
		<meta-data android:name="org.openintents.metadata.WEBSITE_LABEL"
			android:value="@string/about_website_label" />
		<meta-data android:name="org.openintents.metadata.WEBSITE_URL"
			android:value="@string/about_website_url" />
		<meta-data android:name="org.openintents.metadata.EMAIL"
			android:value="@string/about_email" />
		<meta-data android:name="org.openintents.metadata.LICENSE"
			android:resource="@raw/license" />

<!-- 		<receiver android:name="org.opensatnav.android.WidgetProvider"> -->
<!-- 			<intent-filter> -->
<!-- 				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" /> -->
<!-- 			</intent-filter> -->
<!-- 			<meta-data android:name="android.appwidget.provider" -->
<!-- 				android:resource="@xml/widget" /> -->
<!-- 		</receiver> -->

<!-- 		<service android:icon="@drawable/icon" android:label="@string/app_name" -->
<!-- 			android:name="org.opensatnav.android.services.routing.RouteInstructionsService" /> -->
			
		<activity android:name=".TransChooseLocationServiceActivity">
		    <!-- Receives the search request. -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Points to searchable meta data. -->
            <meta-data android:name="android.app.searchable"
                    android:resource="@xml/searchable"/>
		</activity>
		
		<activity android:name="cl.droid.transantiago.TransChooseServiceActivity"></activity>
		
		<activity android:name="cl.droid.transantiago.ServiceActivity"></activity>
		
		<activity android:name=".activity.HomeActivity">
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>
		<meta-data android:name="android.app.default_searchable"
                   android:value=".TransChooseLocationServiceActivity" />      
	</application>

	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="7"/>
</manifest> 
