<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="199" android:versionName="1.0" package="org.opensatnav.android">
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<!--  Used for Cloudmade routing device ID (uses IMEI) -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="false">
		<activity android:name="org.opensatnav.android.SatNavActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<provider android:name="org.opensatnav.android.contribute.content.OSNProvider"
			android:multiprocess="true" android:authorities="org.opensatnav.android.contribute" />
		<activity android:name="org.opensatnav.android.GetDirectionsActivity" />
		<activity android:name="org.opensatnav.android.ChooseLocationActivity" />
		<activity android:name="org.openintents.about.About" />
		<activity android:name="org.opensatnav.android.ConfigurationActivity" />
		<activity android:name="org.opensatnav.android.ContributeActivity"
			android:finishOnTaskLaunch="true" />


		<service android:name="org.opensatnav.android.contribute.services.TrackRecordingService" />
		<service android:name="org.opensatnav.android.TripStatisticsService" />

		<!-- values used in the About screen -->
		<meta-data android:name="org.openintents.metadata.COMMENTS"
			android:value="@string/app_desc" />
		<meta-data android:name="org.openintents.metadata.LEADERS"
			android:resource="@array/about_leaders" />
		<meta-data android:name="org.openintents.metadata.AUTHORS"
			android:resource="@array/about_authors" />
		<meta-data android:name="org.openintents.metadata.TRANSLATORS"
			android:resource="@array/about_translators" />
		<meta-data android:name="org.openintents.metadata.ARTISTS"
			android:resource="@array/about_artists" />
		<meta-data android:name="org.openintents.metadata.DOCUMENTERS"
			android:resource="@array/about_documenters" />
		<meta-data android:name="org.openintents.metadata.WEBSITE_LABEL"
			android:value="@string/about_website_label" />
		<meta-data android:name="org.openintents.metadata.WEBSITE_URL"
			android:value="@string/about_website_url" />
		<meta-data android:name="org.openintents.metadata.LICENSE"
			android:resource="@raw/license" />

		<receiver android:name="WidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/widget" />
		</receiver>

		<service android:icon="@drawable/icon" android:label="@string/app_name"
			android:name=".services.routing.RouteInstructionsService" />
	</application>

	<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="4" />
</manifest> 
